@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap'); /* font-family: 'Saira Stencil One', cursive; */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); /* font-family: 'Indie Flower', cursive; */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap'); /* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap'); /* font-family: 'Baloo Chettan', cursive; */
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap'); /* font-family: 'Aldrich', sans-serif; */

header img {
    height: 80px;
    margin-left: -50px;
} 
* {
    box-sizing: border-box;
    padding: 0px 50px 0px;
}
img {
     max-width:100%;
    height:auto;
}
.img1 {
    display: block;
  max-width:1500px;
  max-height:550px;
  width: auto;
  height: auto;
}
.refimg {
    max-width:135px;
    max-height:135px;
    width: auto;
    height: auto;
    margin-left: -100px;
}
body { 
    background: url(Screenshots/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Aldrich', sans-serif;
    margin-top: 80px;
    padding: 30px;
}
#intro {
    color: red;
    text-shadow: 3px 2px black;
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
}
.font1 {
    color: white;
    text-shadow: 3px 2px rgb(12, 8, 255);
}
h1 {
    font-size: 5em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
}
header {
    background-color: rgb(7, 203, 252);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Saira Stencil One', cursive;
    text-shadow: 2px 1px rgb(0, 0, 0);
    font-size: 1.5em;
}
.himage {
    background: url(Screenshots/matrix.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header * {
    display: inline;
}
header li {
    margin: -20px;
}
header li a {
    color: rgb(254, 2, 2);
    text-decoration: none;
}
.center {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(62, 45, 160);
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: rgba(0, 229, 255, 0.482);
  }
  .active {
    background-color: rgba(252, 252, 5, 0.653);
  }
 .intro1 {
    color: red;
    text-shadow: 3px 2px black;
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
 }
 .font2 {
    font-size: 1em;
    font-family: 'Saira Stencil One', cursive;
    color: rgb(252, 252, 4);
    text-shadow: 3px 2px rgb(0, 0, 0);
 }
 .font3 {
    color: rgb(81, 205, 19);
    text-shadow: 3px 2px black;
    font-family: 'Saira Stencil One', cursive;
 }
